GOOGLE_CLOUD_PROJECT=your_google_cloud_project_id
GOOGLE_CLOUD_LOCATION=global
VERTEX_AI_AUTH_MODE=unconfigured
VERTEX_AI_API_KEY=your_vertex_express_mode_api_key_if_used
JEV_API_KEY=your_jev_api_key_here
