@import "tailwindcss";
:root {
  --font-sans: 'Inter', sans-serif;
}
body {
  font-family: var(--font-sans);
  height: 100vh;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}